article, aside, figure, footer, header, nav, section {
    display: block;
}

/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-image: -moz-linear-gradient(
	    30deg, black 30%, #fffded 50%, orange 60%, #fffded 70%, black 100%);
	background-image: -webkit-linear-gradient(
	    30deg, black 30%, #fffded 50%, orange 60%, #fffded 70%, black 100%);
	background-image: -o-linear-gradient(
	   30deg, black 30%, #fffded 50%, orange 60%, #fffded 70%, black 100%);
	background-image: linear-gradient(
	    30deg, black 30%, #fffded 50%, orange 60%, #fffded 70%, black 100%);
	/*background-image:url('/img/f.gif');*/
	background-color: black;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 80%;
    margin: 0 auto;
    border: 1px solid orange;
    background-color: #F0F0F0;
}
a:focus, a:hover {
	font-style: italic;
}
/*styles for the forms*/
fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: .5em;
    padding-left: 1em;
}

legend {
    color: orange;
    font-weight: bold;
    margin-bottom: .5em;
}
input, select, span {
	font-size: 100%;
}
label {
    float: left;
    width: 10em;
    text-align: right;
}
span {
	color: orange;
}
input, select {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    vertical-align: middle;
    }
input:required, input[required] {
	border: 3px solid #800000;
}
input:valid {
	border: 1px solid orange;
}
input:invalid {
	box-shadow: none;
}
br {
    clear: both;
}
#buttons input {
	width: 10em;
}

/* the styles for the header */
header {
	
	padding: 1.5em 0;
	background-image: -moz-linear-gradient(
	    30deg, black 50%, #fffded 60%, orange 70%, #fffded 80%, black 100%);
	background-image: -webkit-linear-gradient(
	    30deg, black 50%, #fffded 60%, orange 70%, #fffded 80%, black 100%);
	background-image: -o-linear-gradient(
	   30deg, black 50%, #fffded 60%, orange 70%, #fffded 80%, black 100%);
	background-image: linear-gradient(
	    30deg, black 50%, #fffded 60%, orange 70%, #fffded 80%, black 100%);
}
header h1 {
	color: orange;
}
header h2 {
	color: white;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 30px;
}
.shadow {
	text-shadow: 2px 2px 2px black;
}

/* the styles for the navigation bar */
nav {
	clear: both;
}
nav ul {
	list-style: none;
	padding: 1em 0;       /* padding above and below li elements */
	background-color: black; }
nav li {
	display: inline; }
nav a {
	padding: 1em 4em;
	text-decoration: none;
	color: #fffded;
	font-weight: bold;
	 }
nav a.current { color: yellow; }
section {
	
	padding: 20px 30px;
	width: 80%;
	
}
section h2 {
	color: orange;
	font-size: 150%;
	padding: .5em 0 .25em;
}
section p {
	padding-bottom: .5em;
}
section img {
	
	float: left;
	padding:10px 5px
}

/* the styles for the footer */
footer {
	height: 200px;
	border-top: 1px solid orange;
	clear: both;
}
footer p {

	padding: 1em 0;
	text-align: center;
}
.dark {
	font-weight: bold;
}